<div class="box tabular">
  <% if @test_plan_given %>
    <p>
      <%= form.label :test_plan %>
      <% if @test_plan %>
        <%= @test_plan.name %>
        <%= form.hidden_field :test_plan_id, :value => @test_plan.id %>
      <% else %>
        <%= form.select :test_plan_id, @test_plan_candidates %>
      <% end %>
    </p>
  <% end %>
  <p>
    <%= form.label :test_case_name %>
    <%= form.text_field :name, size: 80, required: true, id: "name" %>
  </p>
  <p>
    <%= form.label :user %>
    <% if @test_case and @test_case.user %>
      <%= form.select :user, @user_candidates, selected: @test_case.user.id %>
    <% else %>
      <%= form.select :user, @user_candidates %>
    <% end %>
  </p>
  <p>
    <%= form.label :environment %>
    <%= form.text_field :environment, size: 80, id: "environment" %>
  </p>
  <p>
    <%= form.label :scenario %>
    <%= form.text_area :scenario, required: true, id: "scenario", cols: 60, rows: [[10, @test_case.scenario.to_s.length / 50].max, 20].min %>
  </p>
  <p>
    <%= form.label :expected %>
    <%= form.text_area :expected, required: true, id: "expected", cols: 60, rows: [[10, @test_case.expected.to_s.length / 50].max, 20].min %>
  </p>
</div>

<div class="box">
  <p>
    <%= form.label l :label_attachment_plural %>
    <%= render partial: 'attachments/form' %>
  </p>
</div>
